/*

.im-phone-call-btn.im-phone-call-btn-red.im-phone-call-btn-tube{
    display: inline-block!important;
}
.im-phone-call-btn.im-phone-call-btn-green{
    display: none!important;
}
.im-phone-call-btn.im-phone-call-btn-red{
    display: none!important;
}
*/
/*
<div class="im-phone-call-buttons-container">
<span class="im-phone-call-btn im-phone-call-btn-green">Ответить</span>
<span class="im-phone-call-btn im-phone-call-btn-red">Пропустить</span>
</div>*/